<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Music App</title>
</head>
<body>
    <h1>Welcome to the Music App</h1>

    <div>
        <a href="{{ url_for('search') }}">
            <button>Search for Songs</button>
        </a>
    </div>
    <br>

    <div>
        <a href="{{ url_for('create_playlist') }}">
            <button>Create a Playlist</button>
        </a>
    </div>
    <br>

    <div>
        <a href="{{ url_for('login') }}">
            <button>Receive your recommendation </button>
        </a>
    </div>

</body>
</html>

